* {
margin: 0;
padding:0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.cabeçalho {
background-color:#3E54AC;
display: flex
justify-content:space-around

}

.cabeçalho-logo {
    width: 10%;
    height: 10%;
}

.cabeçalho-itens{
    font-size: 36px;
    margin: 5px;
    display: inline-block;
    
}

.escola {
    
    background-color: #FFED00;
   width: 1440px; 
   height: 430px; 
}

.escola-título{

padding-top: 50px;
    text-align: center;
    color: #000000;

}

.escola-parágrafo{
    
}






.galeria {
    background-color: #FFED00;
    .galeria-foto{
        width:240px;
        border-radius: 33px;
    }
}
.galeria-título {

} 















.galeria-todos






.galeria-todos